.timer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timer-title-holder {
  display: flex;
  flex-direction: column;
  text-align: left;
  flex-grow: 1;
}

.timer {
  max-width: 30%;
  flex-shrink: 1;
  text-align: center;
}

.timer-buttons {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.timer-buttons > button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  font-size: 1.25rem;
}

.timer-start-button {
  width: 100%;
}
