.game-screen-wrapper {
  height: 100vh;
  padding: 2rem var(--page-padding);
  background-color: var(--light-2);
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: var(--light-1);
  border-radius: 1rem;
  box-shadow: 0px 12px 8px 0px rgba(154, 145, 132, 0.25);
  border: 2px solid #1c181730;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.navbar-title-holder {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
}

.slogan {
  font-size: 1.2rem;
  font-weight: 400;
}
