.player-select {
  width: 100%;
  font-size: 1.5rem;
}

.points-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.points-input {
  text-align: center;
  max-width: 5rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.points-btn {
  display: flex;
  place-content: center;
}
