button {
  font-size: 1.5rem;
  font-weight: 600;
  background-color: var(--brand-1);
  color: var(--dark-1);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid #0000004d;
  cursor: pointer;
  box-shadow: 0px 2px 8px 0px rgba(154, 145, 132, 0.25);
  transition: all 0.2s ease-in-out;
}
button:hover {
  background-color: var(--brand-1-hover);
  box-shadow: 0px 10px 8px 0px rgba(154, 145, 132, 0.25);
  transform: translateY(-4%);
}

.btn-secondary {
  background-color: var(--brand-2);
  color: var(--dark-1);
}

.btn-secondary:hover {
  background-color: var(--brand-2-hover);
}
