button {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--dark-1);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid #0000004d;
  cursor: pointer;
}
.start-game {
  background-color: var(--brand-1);
}

.end-game {
  background-color: var(--brand-2);
}
