li {
  list-style: none; /* Remove default bullet point */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  background-color: var(--pale-1);
  border-radius: 1rem;
  border: var(--border-1);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.first-place {
  background-color: #ffedc2;
  border: 1px solid #ffc847;
  box-shadow: 0px 0px 16px 0px rgba(255, 180, 0, 0.6);
}

.first-place .score {
  font-size: 3.5rem;
}

.second-place {
  background-color: #f9fafb;
  border: 1px solid #91a3b5;
  box-shadow: 0px 0px 8px 0px rgba(102, 128, 153, 0.4);
}

.second-place .score {
  font-size: 2.875rem;
}

.third-place {
  border: 1px solid #e3a763;
  background-color: #fce2c5;
  box-shadow: 0px 0px 8px 0px rgba(242, 134, 13, 0.25);
}

.third-place .score {
  font-size: 2.375rem;
}

.username {
  font-size: 1.5rem;
  opacity: 0.5;
  font-weight: 500;
}

.score-holder {
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
}

.score-tag {
  font-size: 2rem;
  font-weight: 500;
  opacity: 0.5;
}

.score {
  font-size: 2.25rem;
  font-weight: 700;
}

.delete-btn {
  position: absolute;
  padding: 0.25rem 0.5rem;
  top: 1rem;
  right: 1.5rem;
  border: unset;
  border-radius: 0.25rem;
  background-color: unset;
  box-shadow: unset;
  text-transform: uppercase;
  font-size: 0.5rem;
  opacity: 0.25;
}

.delete-btn:hover {
  opacity: 1;
  background-color: var(--brand-2);
}

.place-holder {
  display: flex;
  gap: 2rem;
}

/* Media Query for Mobile */
@media (max-width: 479px) {
  li {
    flex-direction: column;
  }
  .place-holder div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .trophy {
    position: absolute;
    left: 0.75rem;
    top: 0.75rem;
    width: 1.5rem;
  }
  .first-place .score,
  .second-place .score,
  .third-place .score {
    font-size: 2rem;
  }
  .score-tag {
    font-size: 1.25rem;
  }
}
